.stop-watch {
   
    height: 70vh; 
    width: 80vw; 
  
    
    background-image: url(https://www.shutterstock.com/shutterstock/videos/1106105553/thumb/7.jpg?ip=x480);
    background-color: black;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    
    padding: 20px; 
  }
  